.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}
.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.sidebar-nav .offcanvas {
    width: 220px;
    border: none;
}
.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}
.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before
{
    margin-right: 5px;
}
.searchbar
{
    padding-top:20px;
}


/* Mic css */
.form{

    position: relative;
}

.form span{

     position: absolute; 
/* right: 17px; */
top: 13px; 
padding: 2px;
/* border-left: 1px solid #d1d5db; */

}

/* .left-pan{
    padding-left: 7px;
} */

.left-pan i{
   
   padding-left: 255px;
}

/* .form-input{

    height: 55px;
    text-indent: 33px;
    border-radius: 10px;
} */

/* .form-input:focus{

    box-shadow: none;
    border:none;
} */

.bi
{
    font-size: large;

}
/* mic css */