.sidebar-nav ul li a {
    font-size: 26px;
    text-decoration: none;
    display: block;
    padding: 6px 10px;
    transition: 0.5s;
}
.sidebar-nav ul li a:hover {
    background-color: #eeeeee;
    border-radius: 4px;
}
.sidebar-nav .offcanvas {
    width: 220px;
    border: none;
}
.sidebar-nav .offcanvas ul li a span {
    font-size: 18px;
    position: relative;
    top: -4px;
    transition: 0.5s;
}
.sidebar-nav .offcanvas.show ul li a:hover span {
    padding-left: 10px;
}
.sidebar-nav .dropdown-toggle::after {
    position: relative;
    top: 3px;
}
.bi::before, [class^="bi-"]::before, [class*=" bi-"]::before
{
    margin-right: 5px;
}
.searchbar
{
    padding-top:20px;
}

.form{

    position: relative;
}

.form span{

     position: absolute; 
top: 13px; 
padding: 2px;

}

.left-pan i{
   
   padding-left: 255px;
}

.bi
{
    font-size: large;

}

.form-control
{
    height: 33px;
    border-radius :22px
}
.speech{
    left:100px;
    padding-top:20px !important;

}
.card{
    width: 15rem; 
    height:4rem;
    margin: -20px;
    padding: 9px;
    background-color: #695855
}
h4{
    padding-left: 5px;
    font-weight: bold;
}